@import "../../base";

.card {
  margin-left: 37.5%;
  margin-right: 30%;
  width: auto;
}

.accountCard {
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
}


.csvlink {
    color: black;
    text-decoration: none;
}

.deleteMessage {
  //`color: red ;
  font-weight: bold;
}

.reLoginMessage {
  color: red !important;
}

