@import "../../base";

.card{
    margin-left: 5%;      
    margin-right: 5%;
    width: auto;
}

.input{
    width:200px;
}
.projectLine {
    display: flex;
    white-space:nowrap;
}

.completed {
    font-style: italic; 
    text-decoration: line-through; 
    color: #868e96;
}

.taskList {
    margin-left: 0%;      
    margin-right: 0%;
    width: "50rem";

}

.projectNameThick {
    font-weight: bold;
    float:left; 
    width:85%;
}

.completion{
    float:right;
}
.card{
    border-radius: 5px;
    margin-top: 30px;
}